body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  border: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.active {
  position: relative;
}
.nav-link.active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: #404bbf;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.porfolio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-name-cont {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  cursor: pointer;
}
.overlay {
  position: absolute;
  transition: transform 250ms ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 8px;
  background-color: #4d5ae5;
  color: #fff;
  font-family: sans-serif;
}
.img-cont {
  position: relative;
  max-width: auto;
  max-height: auto;
  overflow: hidden;
}
.text-overlay {
  padding: 0 32px;
  text-align: start;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}
.social-link-list:hover .social-link {
  background-color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.page-footer .footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  color: #f4f4fd;
}
.footer-list{
  
}
.footer-link {
  display: block;
  margin-left: 120px;
}
.footer-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.footer-list-svg{
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-item-svg{
  display: flex;
  align-items: center;
}
.footer-link-svg{
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
}
.footer-link-svg:hover{
  background-color: #31d0aa;
}
.foter-img-svg {
  width: 24px;
  height: 24px;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.main-container {
  padding: 188px 188px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.features {
  display: flex;
  align-items: center;
  padding: 120px 120px;
}

.button-main {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button-main:hover,
.button-main:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: #f4f4fd;
}
.svg-item {
  width: 64px;
  height: 64px;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-name-container {
  padding: 32px 0;
}
.team-item-list {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
}

.team-name {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-top: 8px 0;
  margin-bottom: 8px;
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.social-item .social-icon {
  fill: #fff;
}

.social-item .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-item {
  display: flex;
  gap: 24px;
  padding: 0 16px;
  align-items: center;
}

.services {
  padding: 120px 0;
}
.heading-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  visibility: hidden;
  margin-bottom: 8px;
}

.main-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office\ 1.jpg);
  background-color: #2e2f42;
  padding: 188px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.features-list {
  display: flex;
  gap: 24px;
}
.head-counteiner {
  display: flex;
  align-items: center;
}

.features-item {
  width: calc((100% - 72px) / 4);
}
